<% include ../partials/header %>
<div class="container-fluid white-container">   
<div class="text-container">
<h1 class="font-spaced" >Rejestr pacjentów: </h1>
<% include ../partials/patient/patient-header %>
                   
             
                    <% patient.forEach(function(patients){%>
                    <tr>
                       
                        <td><%=patient.indexOf(patients) + 1%></td>
                        <td><%=patients.firstname%></td>
                        <td><%=patients.lastname%></td>
                         <td><%=patients.pesel%></td>
                        <td><%=patients.phone%></td>
                        <td><%=patients.securitynr%></td>
                        <td><%=patients.securitydate%></td>
                        <td><%=patients.securityinstance%></td>
                        <% if(currentUser){ %>
                        <th>
                            <a class="btn btn-xs btn-info" 
                                href="/patients/<%=patients._id%>/">Dane pacjenta</a>
                        </th>
                            <th><a class="btn btn-xs btn-warning" 
                               href="/patients/<%=patients._id %>/edit">Edytuj pacjenta</a>
                            </th>
                            <th>
                            <form class="delete-form" action="/patients/<%=patients._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Usuń pacjenta">
                            </form>
                            </th>
                        <% } %>
                
            </tr>
                    
        <% })%>
        <% include ../partials/patient/patient-footer %>
        </div>
</div>
<% include ../partials/footer %>

