<% include ../partials/header %>
<div class="container-fluid">    
<h1 class="font-spaced" >Rejestr pacjentów: </h1>
<% include ../partials/patient/patient-header %>
                    <% if(!patient){%>
                    <tr>
                        <th scope="row">Brak pacjentów ...  
                        <div class="text-right">
                        <a class="btn btn-xs btn-success" 
                        href="/patients/new">Dodaj nowego pacjenta</a>
                        </div>
                        </th>
                    </tr>
                    <% }else{ %>
                    <% patient.forEach(function(patients){%>
                    <tr>
                        
                        <th scope="row"><%=patient.indexOf(patients)%></td>
                        <td><%=patients.firstname%></td>
                        <td><%=patients.lastname%></td>
                         <td><%=patients.pesel%></td>
                        <td><%=patients.phone%></td>
                        <td><%=patients.securitynr%></td>
                        <td><%=patients.securitydate%></td>
                        <td><%=patients.securityinstance%></td>
                        <% if(currentUser){ %>
                        <th>
                            <a class="btn btn-xs btn-info" 
                                href="/patients/<%=patients._id%>/show">Dane pacjenta</a>
                        </th>
                            <th><a class="btn btn-xs btn-warning" 
                               href="/patients/<%=patients._id %>/edit">Edytuj pacjenta</a>
                            </th>
                            <th>
                            <form class="delete-form" action="/patients/<%=patients._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Usuń pacjenta">
                            </form>
                            </th>
                        <% } %>
                
            </tr>
                    
        <% })}%>
        <% include ../partials/patient/patient-footer %>
</div>
<% include ../partials/footer %>

