<% include ../partials/header %>

<div class="container">
<h3><%=patient.firstname%> <%=patient.lastname%> - <%=patient.pesel%></h3>
<br>
<h3>Adresy pacjenta:</h3>
       <% if(patient.addresses ===null || patient.addresses === undefined || patient.addresses.length ===0){%>
                       <p>Brak zarejestrowanych adresów...</p>
                       <a class="btn btn-xs btn-success" href="/patients/<%= patient._id%>/addresses/">Dodaj nowy adres</a>
                   <% }else{%>
                   <a class="btn btn-xs btn-success" href="/patients/<%= patient._id%>/addresses/">Dodaj nowy adres</a>
                    <% patient.addresses.forEach(function(address){ %>
                    <ul>
                        <li style="display:inline;"><%=address.streetname%> <%=address.nrblock%>/<%=address.nrflat%>, <%=address.zipcode%> <%=address.town%>

                         <a class="btn btn-xs btn-warning" 
                           href="/patients/<%=patient._id %>/addresses/<%=address._id %>/">Edytuj adres</a>
                              
                        <form style="display:inline;" action="/patients/<%=patient._id %>/addresses/<%=address._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Usuń adres</button>
                        </form>
                        </li>
                    </ul>
                    <% })%>
                 <% } %>
                 

<h3>Skierowania pacjenta:</h3>
       <% if(patient.refferals ===null || patient.refferals === undefined || patient.refferals.length ===0){%>
                       <p>Brak skierowań...</p>
                       <a class="btn btn-xs btn-success" href="/patients/<%= patient._id%>/refferals/">Dodaj nowe skierowanie</a>
                   <% }else{%>
                    <a class="btn btn-xs btn-success" href="/patients/<%= patient._id%>/refferals/">Dodaj nowe skierowanie</a>
                    <% patient.refferals.forEach(function(refferal){ %>
                    
                    <ul>
                        <li style="display:inline;">
                            <%=refferal.refdate%> - 
                            <br>
                            Jednostka kierująca:
                            <br>
                            <% if(refferal.clinic === undefined || refferal.clinic === null ){%>
                            Brak jednostki kierującej..
                            <% }else{ %>
                            <%= console.log(refferal.clinic.regon) %> - 
                            <%= refferal.clinic.name %>
                            
                            <% } %>
                            <br>
                            
                            Lekarz kierujący:
                            <% if(refferal.doctor === undefined || refferal.doctor === null ){%>
                            Brak lekarza kierującego
                            <% }else{ %>
                            <%= console.log(refferal.doctor)%> - 
                            <%= refferal.doctor.lastname %>
                            <%= refferal.doctor.firstname %>
                            <% } %>
                            <br>
                            <ul>Choroby:
                            <% refferal.diseases.forEach(function(disease){ %>
                            <li><%=disease.code%> - <%=disease.name%><br/></li>
                            <% })%>    
                            </ul>
                         <a class="btn btn-xs btn-warning" 
                           href="/patients/<%=patient._id %>/refferals/<%=refferal._id %>/">Edytuj skierowanie</a>
                               
                        <form style="display:inline;" action="/patients/<%=patient._id %>/refferals/<%=refferal._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Usuń skierowanie</button>
                        </form>
                        </li>
                    </ul>
                    <% })%>
                 <% } %>
</div>  


<% include ../partials/footer %>