<% include ../partials/header %>
 <div class="container">
        <form action="/patients/<%= patient._id%>/refferals" method="POST">
           <h3>Nowe skierowanie pacjenta - "<%=patient.firstname%> <%=patient.lastname%>":</h3>
                <hr>
                <div class="col-md-6 col-sm-12">
                <label>Data skierowania:</label>
                <input class="form-control" type="text" name="refferal[refdate]">
                </div>
                <div class="col-md-6 col-sm-12">
                <label>Lekarz kierujący:</label>
                <select name="refferal[doctor]" data-live-search="true" class="selectpicker" id="selectDoctor">

                    <% doctors.forEach(function(doctor){ %>
                    <option value="<%=doctor._id%>"><%= doctor.nrpwz%> - <%=doctor.firstname %> <%= doctor.lastname %></option>
                    <% }) %>
                </select>
                </div>
                 <div class="col-md-6 col-sm-12">
                <label>Jednostka kierująca:</label>
                <select name="refferal[clinic]" data-live-search="true" class="selectpicker" id="selectClinic">
                    <% clinics.forEach(function(clinic){ %>
                    <option value="<%=clinic._id%>"><%= clinic.regon%> - <%=clinic.name %></option>
                    <% }) %>
                </select>
                </div>
                <div class="col-md-12 col-sm-12">
                    <label>Choroby:</label>
                    <select name="refferal[diseases]" id="selectDisease" data-live-search="true" class="selectpicker" multiple >
                     <% diseases.forEach(function(disease){ %>
                    
                    <option value="<%= disease._id%>"><%= disease.code%> - <%=disease.name %></option>
                    <% }) %>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button class="btn btn-xs btn-success centered">Zapisz pacjenta</button>
                </div>
            
        </form>
    </div>

<% include ../partials/footer %>