<% include ../partials/header %>
<h5 id="hmonth"><%= appointment.month %></h5>
<h5 id="hstate"><%= appointment.state %></h5>

 <div class="container white-container">
   
        <form action="/appointments/<%= appointment._id%>?_method=PUT" method="POST">
              <div class="text-container">
           <h3>Nowa wizyta:</h3>
                <hr>
                <div class="col-md-6 col-sm-12">
                <label>Data wizyty:</label>
                <input class="form-control" type="text" name="appointment[appointmentdate]" value="<%=appointment.appointmentdate%>">
                </div>
                <div class="col-md-6 col-sm-12">
                <label>Rok wizyty:</label>
                <input class="form-control" type="text" name="appointment[year]" value="<%=appointment.year%>">
                </div>
                <div class="col-md-6 col-sm-12">
                <label>Miesiąc wizyty:</label>
                <select name="appointment[month]" data-live-search="true" class="selectpicker selectMonth" >
                       <option>styczeń</option>
                       <option>luty</option>
                       <option>marzec</option>
                       <option>kwiecień</option>
                       <option>maj</option>
                       <option>czerwiec</option>
                       <option>lipiec</option>
                       <option>sierpień</option>
                       <option>wrzesień</option>
                       <option>październik</option>
                       <option>listopad</option>
                       <option>grudzień</option>
                </select>
                </div>
                <div class="col-md-6 col-sm-12">
                <label>Stan pacjenta:</label>
                <select class="form-control" type="radio" name="appointment[state]" id="selectState">
                <option>pilny</option>
                <option>stabilny</option>
                <option>kombatant</option>
                <option>osoba represjonowana</option>
                </select>
                </div>
                <div class="col-md-6 col-sm-12">
                <label>Nr kolejki:</label>
                <input class="form-control" type="text" name="appointment[queue]" value="<%=appointment.queue%>">
                </div>
                <div class="col-md-6 col-sm-12">
                    
                    <!--POPRAWNIE SKONSTRUOWANE SELECT MULTIPLE PONIŻEJ VVVV-->
                    
                <label>Osoba prowadząca:</label>
                <select title="" name="appointment[supervisors]" multiple data-live-search="true" class="selectpicker" id="selectSupervisor" value="<%= appointment.supervisors%>">
                <% if(appointment.supervisors.length<1 || appointment.supervisors === undefined){ %>
                          <% supervisors.forEach(function(supervisor){ %>
                                    <option value="<%= supervisor._id%>">
                                        <%= supervisor.nrpwz %> - <%= supervisor.firstname %> <%= supervisor.lastname %>
                                    </option>
                                    <% }) %>
                  <% }else{ %>
                  <% supervisors.forEach(function(supervisor){ %>
                   <% var selection = "" %>
                    <% appointment.supervisors.forEach(function(apposupervisor){%>
                   
                           <% if(supervisor._id.equals(apposupervisor._id)){ %>
                           <% selection = "selected" %>
                           <% } %>
                           
                            <% }) %>
                             <option value="<%= supervisor._id%>" <%= selection %>>
                                <%= supervisor.nrpwz%> - <%=supervisor.firstname %> <%= supervisor.lastname %>
                            </option>
                        <% })%>
                  <% } %>
                    
                    
                </select>
                </div>
                <div class="col-md-12 col-sm-12">
                    <label>Choroby:</label>
                    <select title="" multiple data-actions-box="true" name="appointment[diseases]" value="<%= appointment.diseases %>" id="selectDisease" data-live-search="true" class="selectpicker" multiple >
                        <% if(appointment.diseases.length<1 || appointment.diseases === undefined){ %>
                          <% diseases.forEach(function(disease){ %>
                                    <option value="<%= disease._id%>">
                                        <%= disease.nrpwz %> - <%= disease.firstname %> <%= disease.lastname %>
                                    </option>
                                    <% }) %>
                  <% }else{ %>
                       <% diseases.forEach(function(disease){ %>
                       <% var selection = "" %>
                      <% appointment.diseases.forEach(function(appodisease){%>
                           <% if(disease._id.equals(appodisease._id)){ %>
                           <% selection = "selected" %>
                           <% } %>
                            <% }) %>
                        <option value="<%= disease._id%>" <%= selection %>>
                                <%= disease.code%> - <%=disease.name %>
                            </option>
                    <% }) %>
                    
                    <% } %>
                    </select>
                </div>
                <label>Fizjoterapeuta:</label>
                <select title=""  multiple name="appointment[physiotherapists]" data-live-search="true" class="selectpicker" value="<%= appointment.physiotherapists %>" id="selectPhysiotherapist">
                   <% if(appointment.physiotherapists.length<1 || appointment.physiotherapists === undefined){%>
                   
                   <% physiotherapists.forEach(function(physiotherapist){ %>
                     <option value="<%= physiotherapist._id%>">
                                        <%= physiotherapist.pesel %> - <%= physiotherapist.firstname %> <%= physiotherapist.lastname %>
                                    </option>
                                    <% }) %>
                    <% }else{ %>
                     <% physiotherapists.forEach(function(physiotherapist){ %>
                     <% var selection = "" %>
                      <% appointment.physiotherapists.forEach(function(appophysio){%>
                           <% if(physiotherapist._id.equals(appophysio._id)){ %>
                           <% selection = "selected" %>
                           <% } %>
                            <% }) %>
                         <option value="<%= physiotherapist._id%>" <%= selection %>>
                                <%= physiotherapist.pesel%> - <%=physiotherapist.firstname %> <%= physiotherapist.lastname %>
                            </option>
                    <% }) %>
                    <% } %>
                    
                </select>
                </div>
               
                <div class="col-md-6 col-sm-12">
                    <button class="btn btn-xs btn-success centered">Zapisz pacjenta</button>
                </div>
          </div>  
        </form>
    </div>

<% include ../partials/footer %>