<% include ../partials/header %>
 <div class="container">
        <form action="/patients/<%= patient._id%>/refferals/<%= refferal._id%>/appointments" method="POST">
               <h3>Nowa wizyta:</h3>
                <hr>
                    <div class="col-md-6 col-sm-12">
                        <label>Data wizyty:</label>
                        <input class="form-control" type="text" name="appointment[appointmentdate]">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Rok wizyty:</label>
                        <input class="form-control" type="text" name="appointment[year]">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Miesiąc wizyty:</label>
                        <select name="appointment[month]" data-live-search="true" class="selectpicker" id="selectMonth" title="Wybierz miesiąc...">
                            <option>styczeń</option>
                            <option>luty</option>
                            <option>marzec</option>
                            <option>kwiecień</option>
                            <option>maj</option>
                            <option>czerwiec</option>
                            <option>lipiec</option>
                            <option>sierpień</option>
                            <option>wrzesień</option>
                            <option>październik</option>
                            <option>listopad</option>
                            <option>grudzień</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Stan pacjenta:</label>
                        <select data-live-search="true" class="selectpicker" id="selectState" name="appointment[state]" title="Wybierz stan...">
                        <option>pilny</option>
                        <option>stabilny</option>
                        <option>kombatant</option>
                        <option>osoba represjonowana</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Nr kolejki:</label>
                        <input class="form-control" type="text" name="appointment[queue]">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Osoba prowadząca:</label>
                        <select name="appointment[supervisor]" data-live-search="true" class="selectpicker" id="selectSupervisor" title="Wybierz osobę prowadzącą...">
                                <% supervisors.forEach(function(supervisor){ %>
                                    <option value="<%= supervisor._id%>">
                                        <%= supervisor.nrpwz %> - <%= supervisor.firstname %> <%= supervisor.lastname %>
                                    </option>
                                    <% }) %>
                        </select>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Choroby:</label>
                        <select name="appointment[diseases]" id="selectDisease" data-live-search="true" class="selectpicker" multiple title="Wybierz choroby...">
                        <% diseases.forEach(function(disease){%>
                            <option value="<%= disease._id%>">
                                <%= disease.code%> - <%=disease.name %> 
                            </option>
                        <% }) %>
                        </select>
                    </div>
                        <label>Fizjoterapeuta:</label>
                        <select name="appointment[physiotherapists]" data-live-search="true" class="selectpicker" id="selectPhysiotherapist" multiple title="Wybierz fizjoterapeutę...">
                              <% physiotherapists.forEach(function(physiotherapist){%>
                                    <option value="<%= physiotherapist._id%>">
                                        <%= physiotherapist.pesel %> - <%=physiotherapist.firstname %> <%= physiotherapist.lastname %> 
                                    </option>
                                <% }) %>
                        </select>
                    </div>
               
                <div class="col-md-6 col-sm-12">
                    <button class="btn btn-xs btn-success centered">Zapisz wizytę nadzorcy</button>
                </div>
            
        </form>
    </div>

<% include ../partials/footer %>